.logo-con {
    display: flex;
}

.logo {
    width: 60px; 
    height: 60px;
    margin: auto;
}

h2 {
    font-family: Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

body {
    background-image: url(image/background2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    width: 100%; /* set the width of the header container */
    height: 70px; /* set the height of the header container */
    box-sizing: border-box; /* include the padding and border in the total width and height */
    padding: 10px 16px;
    background: #006e6e;
    color: white;
    text-align: left;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:hover{
    color: rgb(0, 0, 0);
}

.content {
    display: flex;
    padding: 100px;
    gap: 70px;
}

.content_info {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content img{
    padding: 16px;
    size: auto;
    max-height: 400px;
}

.footer {
    width: 100%;
    background-color: #006e6e;
    color: white;
    text-align: center;
    text-align: 1vw;
    line-height: 0.6;
    padding-bottom: 15px;
}

button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    float: right;
    margin-left: 10px;
    width: fit-content;    
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
    
}
  
button:hover {
    background-color: rgb(102, 102, 107);
}

.social-media {
    display: flex; 
    justify-content: center; 
    image-resolution: 70%;
}

.social-media a img{
    display: inline-block; 
    margin: 0 10px; 
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.container{
    align-items: center;
}

.menu_con {
    padding-top: 100px;
    text-align: center;
}

.menu_con h1 {
    margin: 60px;
}

.maincourse{
    display: flex;
}

.food_item {
    display: flex;
    flex-direction: column;
   align-items: center;
}
