.logo-con {
    display: flex;
}

.logo {
    width: 70px; 
    height: 60px;
    margin: auto;
}

.logo-3 {
    width: 250px; 
    height: 70px;
    margin: auto;
}

h2 {
    font-family: Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

body {
    background-image: url(image/background2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}

.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    width: 100%; /* set the width of the header container */
    height: 70px; /* set the height of the header container */
    box-sizing: border-box; /* include the padding and border in the total width and height */
    padding: 10px 16px;
    background:#006e6e;
    color: white;
    text-align: left;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover{
    color: whitesmoke;
}

.content {
    display: flex;
    padding: 100px;
    gap: 70px;
}

.content_info {
    width: 45%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    font-size:20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.content img{
    padding: 16px;
    size: auto;
    max-height: 360px;
}

.footer {
    width: 100%;
    background-color: #006e6e;
    color: white;
    text-align: center;
    text-align: 1vw;
    line-height: 0.6;
    padding-bottom: 15px;
}

button {
    background-color: #006e6e;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    float: right;
    margin-left: 5px;
    width: fit-content; 
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    
}
  
button:hover {
    background-color: rgb(102, 102, 107);
}

.social-media {
    display: flex; 
    justify-content: center; 
    image-resolution: 70%;
}

.social-media a img{
    display: inline-block; 
    margin: 0 10px; 
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.contact-info{
    display: flex;
    flex-direction: column;
}

.container{
    align-items: center;
}

.menu_con {
    padding-top: 100px;
    text-align: center;
}

.menu_con h1 {
    margin: 60px;
}

.maincourse{
    display: flex;
    justify-content: space-around;
}

.food_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.food_item img{
    display: flex;
    flex-grow: 1;
    width: 300px;
    height: 300px;
    margin: 30px;
    justify-content: center;

}

.ham_menu {
    display: none;
}


.dot {
    width: 40px;
    height: 4px;
    margin: 4px;
    background-color: #f1f1f1;
}

iframe
{
    width: 100%;
    height: 180px;
}

.content .imgAbout
{
   max-height: 500px;
}

@media screen and (max-width: 800px) {
    .maincourse{
        flex-direction: column;
    }

    .content {
        display: block;
    }
}
